html,
body {
    height: 100%;
    width: 100%;
    background: #001219
}

h1 {
    color: #E9D8A6
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvasDiv {
    width: 100%;

    flex-grow: 1;

    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}